<!-- back button and footer -->
<%-include ("../partials/header-persona.ejs")%>

<!-- content -->

  <div class="container p-5 mt-2">
    <div class="row text-center">
    <% for (var i=0; i<locals.personaLinks.length; i++) { %>
      <div class="col-12 mb-3">
      <a class=" btn btn-secondary" style="width: 400px; height:180px;"
      href="<%- locals.personaLinks[i].link %>">
        <h2 class="pt-5"><b><%- locals.personaLinks[i].name %></b></h2></a>
      </div>
        <% } %>
      </div>
  </div>


<!-- footer and navbar -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>