<!-- back button and footer -->
<%-include ("../partials/header-persona.ejs")%>

<!-- content -->

  <div class="container-fluid  px-5 mt-4" style="padding-top: 80px;">
    <div>
      <% for (var i=0; i<locals.personaLinks.length; i++) { %>
      <div class="row">
      <a class="card btn btn-light"
      href="<%- locals.personaLinks[i].link %>">
        <h5 class="p-4"><%- locals.personaLinks[i].name %></h5></a>
      </div>
      <br>
        <% } %>
      </div>
  </div>

<!-- footer and navbar -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>