<!-- SAVED PROMPT PRESET PAGE -->
<!-- header and backbar -->
<%-include ("../partials/header-persona.ejs")%>
<%-include ("../partials/emptybackbar.ejs")%>
<div class="col text-center">
  <h1>Characteristics</h1></div>
<div class="col-2 px-2 text-center">
  <form action="/persona/saved-prompt/delete" method="post">
    <input id=deleteInput type="hidden" name="promptIDList" value="" />
    <a class="btn btn-sm material-symbols-rounded p-1" id="deleteButton" disabled>delete</a>
  </form>
</div>
</div>
</div>

<div class="container-fluid" style="padding-top: 200px;">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <% for (var i=0; i<savedPromptParameter.length; i++) { %>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%- [i] %>" aria-expanded="false" aria-controls="flush-collapse<%- [i] %>">
          <div class="form-check form-switch text-center">
            <input class="form-check-input promptCheckbox" type="checkbox" id="<%- savedPromptParameter[i]._id %>">
            <p class="card-title"><%- savedPromptParameter[i].title %></p>
          </div>
        </button>
      </h2>
      <div id="flush-collapse<%- [i] %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p><%- savedPromptParameter[i].description %></p>
          <p><%- savedPromptParameter[i].date %></p>
          <form action="/persona/chat/preset-prompt" method="post">
            <% for (var j=0; j<savedPromptParameter[i].parameterSet.length; j++) { %>
            <div class="mb-3">
              <label class="card-title"><%- savedPromptParameter[i].parameterSet[j] %></label><br>
              <input class="form-control" type="text" name="<%- savedPromptParameter[i].parameterSet[j] %>" placeholder="Enter <%- savedPromptParameter[i].parameterSet[j] %>" />
            </div>
            <% } %>
            <button class="btn send" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="p-5 text-center d-none" id="loadingCard">
    <span id="loadingContainer"><i class="fa-solid fa-cat fa-bounce fa-2xl" style="color: #ffffff;"></i></i></span>
    <p style="color: #ffffff;">Please watch this cat while we finish generating!</p>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('button.send').click(function() {
      // show card with loading indicator
      $("#loadingCard").removeClass("d-none");
      $("#accordionFlushExample").addClass("d-none");
    });

    let promptIDList = []

    // Add event listener to the checkboxes
    $('.promptCheckbox').on('click', async (event) => {
      console.log("checked")
      if (event.target.checked) {
        promptIDList.push(event.target.id)
      } else {
        promptIDList.pop(event.target.id)
      }
      console.log(promptIDList)
      if (promptIDList.length === 0) {
        // disable delete button if there are no checkboxes checked
        $('#deleteButton').attr('disabled', true)
      } else {
        // enable delete button if there are any checkboxes checked
        $('#deleteButton').attr('disabled', false)
      }
      // Set the value of the hidden input to the personaList array
      $('#deleteInput').val(JSON.stringify(promptIDList))
      console.log("testy", $('#deleteInput').val())
    });
  });
</script>

<!-- navbar and footer -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>