<!-- Profile information -->
<!-- header -->
<%-include ('../partials/header-internal.ejs')%>

<div class="container-fluid">
  <div class="container text-center align-item-center pt-4" id="decor_user">
    <div class="pb-4 pt-5">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="fileToUpload">
          <div class="editUserImage" 
            <% if (profileImage) { %>
              style="background-image: url(data:<%= profileImage.contentType %>;base64,<%= profileImage.data.toString('base64') %>)"
            <% } else { %>
              style="background-image: url(../images/cats/cat_placeholder.png)"
            <% } %>
            id="userImage">
    
            <span> 
              <span class="material-symbols-rounded">edit</span>
              Edit Profile Picture
            </span>
          </div>
        </label>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input class="btn material-symbols-rounded editicon" type="submit" value="Upload" name="submit">
      </form>
    </div>
  </div>
  

      <!-- Menu -->
      <div class="container px-3">

        <!-- Account Settings -->
        <div class="card p-3 bg-light btn">
          <a href="/profile/account-settings">
            <div class="row ">
              <div class="col-2">
                <span class="material-symbols-rounded">
                  settings
                  </span>
              </div>
              <div class="col" id="menubtn">Account Settings</div>
            </div>
          </a>
        </div>
        <br />

        <!-- Filters -->
        <div class="card p-3 bg-light btn">
          <a href="/filters">
            <div class="row">
              <div class="col-2">
                <span class="material-symbols-rounded">
                  tune
                  </span>
              </div>
              <div class="col" id="menubtn">Filters</div>
            </div>
          </a>
        </div>
        <br />

        <!-- Saved Persona -->
        <div class="card p-3 bg-light btn" >
          <a href="/saved/persona">
            <div class="row">
              <div class="col-2">
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="col"id="menubtn">Saved Persona</div>
            </div>
          </a>
        </div>
        <br />

        <!-- Saved Dialogue -->
        <div class="card p-3 bg-light btn" >
          <a href="/saved/dialogue">
            <div class="row">
              <div class="col-2">
                <i class="fa-solid fa-heart"></i>
              </div>
              <div class="col"id="menubtn">Saved Dialogue</div>
            </div>
          </a>
        </div>
        <br />

        <!-- About Us -->
        <div class="card p-3 bg-light btn" >
          <a href="/about-us">
            <div class="row">
              <div class="col-2">
                <span class="material-symbols-rounded">
                  info
                  </span>
              </div>
              <div class="col" id="menubtn">About Us</div>
            </div>
          </a>
        </div>
        <br />

        <!-- FAQ -->
        <div class="card p-3 bg-light btn" >
          <a href="/faq">
            <div class="row">
              <div class="col-2">
                <span class="material-symbols-rounded">
                  help
                  </span>
              </div>
              <div class="col" id="menubtn">FAQ</div>
            </div>
          </a>
        </div>
        <br />
   

        <!-- Logout -->
        <div class="text-center ">
          <button
            type="button"
            class="btn bg-light "
            onclick="window.location.href='/logout'"
          >
            LOGOUT
          </button>
        </div>
        <br />
      </div>
    </div>
  
</div>
  <!-- navbar and footer -->
  <%-include ("../partials/navbar.ejs")%> 
  <%-include ("../partials/footer.ejs") %>
