<!-- header -->
<%-include ('./partials/header.ejs')%>

<!-- content -->

<body id="background">
  <div class="container">
    <!-- top card -->
    <div class="card rounded-5 p-1" id="outerBox">
      <div class="card text-center p-4 rounded-5" id="innerBox">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <img id="logo" class="align-self-center" src="./images/invsona.png" alt="invsona logo" width="200px" height="200px" />

            <h1 id="title">Invsona</h1>
            <div class="container m-2 pb-5">
              <p class="wrap" id="slogan">
                Character Creation at Your Finger Tips
              </p>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>

      <!-- VERIFY EMAIL -->
      <div class="text-start p-4">
        <form action="/resetPassword" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" name="email" value="<%= email %>" />
          </div>

          <div class="p-4 text-center">
            <button type="submit" class="btn btn-primary btn-lg">
              SUBMIT EMAIL
            </button>
          </div>
        </form>

        <!-- VERIFY ACCOUNT -->
        <form action="/resetPassword/verified" method="post">
          <input type="hidden" class="form-control" id="email" name="email" aria-describedby="emailHelp" name="email" value="<%= email %>" />
          <div class="mb-3">
            <label for="securityQuestion" class="form-label">Security Question</label>
            <input type="text" class="form-control" id="securityQuestion" name="securityQuestion" value="<%= securityQuestion %>" />
          </div>

          <div class="mb-3">
            <label for="securityAnswer" class="form-label">Answer</label>
            <input type="password" class="form-control" id="securityAnswer" name="securityAnswer" value="<%= securityAnswer %>" />
          </div>

          <div class="p-4 text-center">
            <button type="submit" class="btn btn-primary btn-lg">
              SUBMIT ANSWER
            </button>
          </div>
        </form>

        <!-- RESET PASSWORD -->
        <form action="/" method="post">
          <input type="hidden" class="form-control" id="email" name="email" aria-describedby="emailHelp" name="email" value="<%= email %>" />
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="<%= password %>" <% if (disabled) { %>disabled<% } %> />
          </div>

          <div class="p-4 text-center">
            <button type="submit" class="btn btn-primary btn-lg">
              RESET PASSWORD
            </button>
          </div>
        </form>

      </div>
    </div>
    <br />
  </div>

  <!-- footer -->
  <%-include ('./partials/footer.ejs')%>