<!-- header -->
<%-include ("../partials/header-internal.ejs")%>
<div class="container-fluid mb-5 pb-5" id="chatContainer">
  <!-- Existing chat messages -->
  <% PersonaPersonaChatHistory.forEach((entry, index) => { %>
  <div class="row">
    <!-- Display bot's output -->
    <div class="col-12 my-2" id="botOutput">
      <div class="card">
        <button class="material-icons position-absolute top-0 end-0 m-3 clickable save-icon" type="submit" name="save"
          value="<%= index %>">
          favorite_border
        </button>
        <div class="card-body m-3">
          <div class="card-title">Dialogue:</div>
          <% const conversationLines = entry.botResponse.split('\n'); %>
          <% for (let j = 0; j < conversationLines.length; j++) { %>
          <% const line = conversationLines[j]; %>
          <% const lineSplit = line.split(':'); %>
          <% const currentPersona = lineSplit[0].trim(); %>
          <% const message = lineSplit.slice(1).join(':').trim(); %>
          <div class="card-text">
            <strong><%= currentPersona %>:</strong> <%= message %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <% }) %>
  <div class="p-5 text-center d-none" id="loadingCard">
    <span id="loadingContainer"><i class="fa-solid fa-cat fa-bounce fa-2xl" style="color: #ffffff;"></i></i></span>
    <p style="color: #ffffff;">Please watch this cat while we finish generating!</p>
  </div>
</div>

<script>
  $(document).ready(function () {
    const container = document.getElementById('chatContainer');

    // Scroll to the bottom of the container
    container.scrollIntoView({
      behavior: 'smooth',
      block: 'end'
    });

    $('#send').click(function () {
      // show card with loading indicator
      $("#loadingCard").removeClass("d-none");
    });
  });
</script>
<!-- navbar and footer -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>