<!-- header -->
<%-include ("../partials/header-dialogue.ejs")%>
<%- include ("../partials/emptybackbar.ejs") %>

<div class="container-fluid mb-5 pb-5" id="chatContainer">
    <!-- Existing chat messages -->
    <div class="row-fluid">
        <% for (var i=0; i<userPersonaChatHistory.length; i++) { %>
        <form action="/dialogue/chat/saved-persona-chat" method="post">
            <div class="col-12" id="botOutput">
                <div class="card">
                    <!-- save persona button -->
                    <button class="material-icons position-absolute top-0 end-0 m-3 clickable save-icon" type="submit"
                        name="save" value="<%- i %>">
                        star_border
                    </button>
                    <div class="card-body m-3">
                        <div class="card-title">Bot:</div>
                        <div class="card-text" name="data"><%- userPersonaChatHistory[i].botResponse %>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <% } %>
    </div>
</div>

<form action="/dialogue/chat/user-persona-chat" method="post" class="text-center input-container">
    <div class="row">
        <input class="form-control col" rows="1" cols="1" type="text" name="prompt"
            placeholder="<%= placeholderText %>" />
        <button class="btn col-3" type="submit">Send</button>
    </div>
</form>

<!-- navbar and footer -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>