<!-- SAVED PAGE -->
<!-- header -->
<%-include ('../partials/header-internal.ejs')%>

<!-- back title bar -->
<%-include ('../partials/emptybackbar.ejs')%>
<div class="col text-center">
  <h1 class="align-middle">SAVED PERSONA</h1>
  <form id="savePDF" action="/saved/persona/save-as-pdf" method="post">
    <input id=savePDFInput type="hidden" name="personaList" value="" />
    <button class="btn btn-sm position-absolute top-50 end-0 translate-middle material-icons" id="savePDFButton" disabled>picture_as_pdf</button>
  </form>
  <form id="savePDF" action="/persona/saved-persona/dialogue-filters" method="post">
    <input id=gotoDialogueInput type="hidden" name="personaList" value="" />
    <button class="btn btn-sm material-icons text-center" id="gotoDialogueButton" disabled>chat</button>
  </form>
</div>
</div>
</div>

<div class="container mt-5" style="padding-bottom: 100px; padding-top: 100px;">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <% for (var i=0; i<savedPersona.length; i++) { %>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%- [i] %>" aria-expanded="false" aria-controls="flush-collapse<%- [i] %>">
          <div class="form-check form-switch text-center">
            <input class="form-check-input personaCheckbox" type="checkbox" id="<%- savedPersona[i].persona %>">
            <p class="card-title"><%- savedPersona[i].date %></p>
          </div>
        </button>
      </h2>
      <div id="flush-collapse<%- [i] %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p class="card-text my-3"><%- savedPersona[i].persona %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script>
  $(document).ready(function() {
    let personaList = []

    // Add event listener to the checkboxes
    $('.personaCheckbox').on('click', async (event) => {
      console.log("checked")
      if (event.target.checked) {
        personaList.push(event.target.id)
      } else {
        personaList.pop(event.target.id)
      }
      console.log(personaList)
      if (personaList.length === 0) {
        $('#savePDFButton').attr('disabled', true)
        $('#gotoDialogueButton').attr('disabled', true)
      } else if (personaList.length > 2){
        $('#gotoDialogueButton').attr('disabled', true)
      } else {
        // Enable the buttons
        $('#savePDFButton').attr('disabled', false)
        $('#gotoDialogueButton').attr('disabled', false)

        // Set the value of the hidden input to the personaList array
        $('#savePDFInput').val(JSON.stringify(personaList))
        $('#gotoDialogueInput').val(JSON.stringify(personaList))
        console.log("test", $('#savePDFInput').val())
        console.log("test2", $('#gotoDialogueInput').val())
      }
    })
  })
</script>


<!-- navbar and footer -->
<%-include ('../partials/navbar') %>
<%-include ('../partials/footer') %>