<!-- SAVED PAGE -->
<!-- header -->
<%-include ('../partials/header-internal.ejs')%>

<!-- back title bar -->
<%-include ('../partials/emptybackbar.ejs')%>
<!-- <div class="col text-center"> -->
<div class="col text-center">
    <h1>Saved Dialogues</h1>
    <% if (dialogue.length > 0) { %>
    <% dialogue.forEach(function(dialogueItem) { %>
        <% for (var i=0; i<dialogueItem.dialogueSaved.length; i++) { %>
    <div class="container pt-5" style="padding-bottom: 100px;">
        <h3>User Prompt:</h3>
        <p><%= dialogueItem.dialogueSaved[i].userPrompt%></p>
        <h3>Bot Response:</h3>
        <p><%= dialogueItem.dialogueSaved[i].botResponse %></p>
    </div>
    <% } %>
    <% }); %>
    <% } else { %>
        <p>No saved dialogues found.</p>
    <% } %>


<!-- navbar and footer -->
<%-include ('../partials/navbar') %>
<%-include ('../partials/footer') %>