<!-- SAVED PAGE -->
<!-- header -->
<%-include ('../partials/header-internal.ejs')%>

<!-- back title bar -->
<%-include ('../partials/emptybackbar.ejs')%>
<div class="col text-center">
    <h1 class="align-middle">SAVED DIALOGUE</h1>
    <form id="savePDF" action="/saved/dialogue/save-as-pdf" method="post">
        <input id=savePDFInput type="hidden" name="dialogueList" value="" />
        <button class="btn btn-sm position-absolute top-50 end-0 translate-middle material-icons" id="savePDFButton"
            disabled>picture_as_pdf</button>
    </form>
    <form id="savePDF" action="/saved/persona/dialogueFilters" method="post">
    </form>
</div>
</div>
</div>

<div class="container mt-5" style="padding-bottom: 100px; padding-top: 100px;">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <% for (var i=0; i<savedDialogue.length; i++) { %>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse<%- [i] %>" aria-expanded="false"
                    aria-controls="flush-collapse<%- [i] %>">
                    <div class="form-check form-switch text-center">
                        <input class="form-check-input dialogueCheckbox" type="checkbox"
                            id="<%- savedDialogue[i].dialogue %>">
                        <p class="card-title"><%- savedDialogue[i].date %></p>
                    </div>
                </button>
            </h2>
            <div id="flush-collapse<%- [i] %>" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p class="card-text my-3"><%- savedDialogue[i].dialogue %></p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<script>
    $(document).ready(function () {
        let dialogueList = []

        // Add event listener to the checkboxes
        $('.dialogueCheckbox').on('click', async (event) => {
            console.log("checked")
            if (event.target.checked) {
                dialogueList.push(event.target.id)
            } else {
                dialogueList.pop(event.target.id)
            }
            console.log(dialogueList)
            if (dialogueList.length === 0) {
                $('#savePDFButton').attr('disabled', true)
            } else {
                // Enable the buttons
                $('#savePDFButton').attr('disabled', false)
                // Set the value of the hidden input to the dialogueList array
                $('#savePDFInput').val(JSON.stringify(dialogueList))
                console.log("test", $('#savePDFInput').val())
            }
        })
    })
</script>

<div class="px-5 text-center d-none" id="loadingCard" style="padding-top: 200px;">
    <span id="loadingContainer"><i class="fa-solid fa-cat fa-bounce fa-2xl" style="color: #ffffff;"></i></i></span>
    <p style="color: #ffffff;">Please watch this cat while we finish generating!</p>
</div>
</div>

<script>
    $(document).ready(function () {
        $('#send').click(function () {
            // show card with loading indicator
            $("#loadingCard").removeClass("d-none");
            $("#generalContainer").addClass("d-none");
        });
    });
</script>

<!-- navbar and footer -->
<%-include ('../partials/navbar') %>
<%-include ('../partials/footer') %>