<!-- header -->
<%-include ("../partials/header-dialogue.ejs")%>
<%- include ("../partials/emptybackbar.ejs") %>

<div class="container-fluid mb-5 pb-5" id="chatContainer">
  <!-- Existing chat messages -->
  <div class="row-fluid">
    <% for (var i=0; i<userPersonaChatHistory.length; i++) { %>
    <div class="col-12 my-2" id="userInput">
      <div class="card bg-primary text-bg-light">
      </div>
    </div>
  </div>
  <form action="saved/persona/dialogue/chat/user-persona/save" method="post">
    <div class="col-12" id="botOutput">
      <div class="card">
        <!-- save button -->
        <button class="material-icons position-absolute top-0 end-0 m-3 clickable save-icon" type="submit" name="save"
          value="<%- i %>">
          favorite_border
        </button>
        <div class="card-body m-3">
          <div class="card-text" name="data"><%- userPersonaChatHistory[i].botResponse %></div>
        </div>
      </div>
    </div>
  </form>
  <hr>
  <% } %>
  <div class="p-5 text-center d-none" id="loadingCard">
    <span id="loadingContainer"><i class="fa-solid fa-cat fa-bounce fa-2xl" style="color: #ffffff;"></i></i></span>
    <p style="color: #ffffff;">Please watch this cat while we finish generating!</p>
  </div>
</div>

<script>
  $(document).ready(function () {
    const container = document.getElementById('chatContainer');

    // Scroll to the bottom of the container
    container.scrollIntoView({
      behavior: 'smooth',
      block: 'end'
    });

    $('#send').click(function () {
      // show card with loading indicator
      $("#loadingCard").removeClass("d-none");
    });
  });
</script>

<!-- navbar and footer -->
<%-include ("../partials/navbar.ejs")%>
<%-include ("../partials/footer.ejs")%>